.SecondBanner {
    background: url("../../assets/images/bottom-banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 170px;
}

.SecondBanner .container>:first-child {
    align-items: flex-end;
    margin-bottom: 50px;
}

.SecondBanner_data {
    color: #fff;
}

.SecondBanner_data h3 {

    font-size: 1.8rem;
}

.SecondBanner_data h2 {
    font-family: var(--font-500);
    font-size: 2.8rem;
}

.SecondBanner_data p {
    color: #fff;
    margin-top: 24px;
    font-size: 1.1rem;
}





@media screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (min-resolution: 120dpi) {}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (max-width: 992px) {}

@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 320px) and (max-width: 767px) {
    .SecondBanner_data h2 {
        font-size: 2rem;
        line-height: 32px;
    }

    .SecondBanner_data h3 {
        font-size: 1.6rem;
    }

    .SecondBanner_data p {
        margin-top: 10px;
        margin-bottom: 24px;
        font-size: 1rem;
    }
}