.topbar {
    background: var(--primary);
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px 80px;
}

.icon-box:hover a,
.icon-box:hover i {
    color: var(--secondary);

}

.icon-box {
    color: #fff;
}

.icon-box i {
    margin-right: 4px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;

}


.icon-box a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-500);
    transition: all 0.3s ease-in-out;

}

