.hoverCard::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 114%;
    z-index: -1;
    left: -13px;
    top: -12px;
    background: linear-gradient(90deg, #001B69 0%, #C9082A 100%);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.hoverCard:hover::before {
    width: 106%;
}

.hoverCard {
    /* width: 30%; */
    max-width: 380px;
    margin: auto;
    display: flex;
    position: relative;
    gap: 10px;
    padding: 16px;
    align-items: flex-start;
    border-radius: 12px;
    background: #F7F7F7;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;
    height: 100%;
    margin-bottom: 2px;
}

.heroCard_left {
    color: #ffffff;
    background: #C9082A;
    border-radius: 6px;
    padding: 4px 10px;
}

.heroCard_left i {
    font-size: 1.6rem;
    font-weight: 500;
}

.hoverCard h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: var(--font-600);
}

.hoverCard p {
    font-size: 0.9rem;
    line-height: 20px;
}



















@media screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (min-resolution: 120dpi) {}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (max-width: 992px) {}

@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 320px) and (max-width: 767px) {
    section.sec-2 {
    overflow: hidden;
}
    .hoverCard {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hoverCard::before {
        width: 106%;
        left: -12px;
        height: 65%;


    }

    .hoverCard:hover::before {
        height: 112%;
    }
}