.bottom-nav {
    background: var(--secondary);
}

.bottom-nav ul {
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 70px;
}

.bottom-nav ul li {
    padding: 10px 0;
    list-style: none;
}

.bottom-nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-family: var(--font-500);
    transition: all 0.3s ease-in-out;
}

.bottom-nav ul li a:hover {
    color: var(--primary);
}

.bottom-nav ul li .active {
    color: var(--primary);
}



@media screen and (-webkit-min-device-pixel-ratio: 1.25),
screen and (min-resolution: 120dpi) {}

@media (min-width: 1200px) and (max-width: 1399px) {}

@media (max-width: 992px) {}

@media (min-width: 1024px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1023px) {
    .bottom-nav{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .bottom-nav{
        display: none;
    }
}
